.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  background: #fff;

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-box {
    position: relative;
    max-width: 600px;
  }

  &__title {
    color: $dark-color;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

    & span {
      color: $green-color;
      font-size: 1.2em;
      font-weight: 900;
    }
  }

  &__description {
    color: $dark-color;
  }

  &__link {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: $green-color;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__img-box {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

    & img {
      width: 440px;
    }
  }
}
